<div class="content">
  <mat-card>
    <h1>スマホ入力測定</h1>
    <button mat-raised-button (click)="start()">start</button>
    <p>課題：{{ task }}</p>
    <mat-form-field>
      <input
        type="text"
        matInput
        matType="text"
        value="{{ answerText }}"
        [formControl]="answerControl"
      />
    </mat-form-field>
    <button
      *ngIf="task === '' || answerControl.invalid"
      [disabled]="true"
      mat-raised-button
      (click)="answer()"
    >
      回答
    </button>
    <button
      *ngIf="!(task === '') && answerControl.invalid === false"
      [disabled]="false"
      mat-raised-button
      (click)="answer()"
    >
      回答
    </button>
    <p>現在の得点：{{ score }}</p>
  </mat-card>
  <!-- <mat-card *ngIf="path === '/answer'">
    <router-outlet></router-outlet>
  </mat-card> -->
  <mat-card *ngIf="visible">
    <p>あなたの得点は{{ score }}点です。</p>
    <div>
      <h2>ランキング</h2>
      <table>
        <thead>
          <tr>
            <th>順位</th>
            <th>ポイント</th>
          </tr>
        </thead>
        <tr *ngFor="let score of scores; index as i">
          <td>{{ i + 1 }}位</td>
          <td>{{ score.scoreInt }}</td>
        </tr>
      </table>
    </div>
  </mat-card>
</div>
